* { outline: 0; }
div, span,o
h1, h2, h3,
img,
form, label,
article, canvas, details,
footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-szie: 100%;
    vertical-align: baseline;
    background: transparent;
}