@import 'normalize';
@import 'mixins';

@font-face {
    font-family: Vitamin ;
    src: url('/css/fonts/VITAMIN.TTF');
}

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, main {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
