@import '../../scss/globals';

#parent {
    position: relative;
}
.content, .dummy-content {
    color: #fff;
    font-size: 18px;
    font-family: $font-header;
    display: block;
}

.ghost-content {
    font-size: 28px;
    visibility: hidden;
}

.partial {
    display: block;
    height: 2px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.partial-content {
    height: 2px;
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    user-select: none;
}