.swiper-container {
    /* Specify Swiper's Size: */
    /*width:200px;
        height: 100px;*/
    width: 100%;
    height: 100%;
}
.swiper-slide {
    /* Specify Slides's Size: */
    width: 100%;
    height: 100%;
}
.swiper-slide-active {
    /* Specific active slide styling: */
}
.swiper-slide-visible {
    /* Specific visible slide styling: */
}