$offset: 10px;

* {
    box-sizing: border-box;
}
main {
    padding: $offset;
    overflow: hidden;
    height: 100%;
}

matrix-canvas {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bg-matrix {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
#top-header {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;

    background-color: rgba(0, 39, 94, 0.25);
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease-in-out;
    opacity: 0;

    &.visible {
        opacity: 1;
        transition-delay: 2s;
    }

    matrix-canvas {
        overflow: visible;
    }
}

#bg-matrix-blurred {
    position: absolute;
    top: -$offset;
    left: -$offset;
    right: 0;
    bottom: 0;
    filter: blur(0px);
}