@import '../../scss/mixins/reset-small';
@import '../../scss/placeholders/textarea';

:host {
    padding: 0 50px;
    font-family: Underwood;
    color: #fff;
}

glitch-effect.header {
     height: 40px;
}

.mathquill-editable {
    @extend %textarea;
    color: #000;
    background-color: rgba(255,255,255,.8);
    margin-top: 50px;
    min-height: 24px;
    min-width: 18px;
}

textarea {
    @extend %textarea;
}
