@import '../../scss/globals';
@import '../../scss/mixins/reset-small';
@import 'formula-animation';

:host {
    padding: 0 50px;
    font-family: $font-text;
    color: #fff;
}

 .chrome-only {
    background-image: url(../../images/chrome-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40px 40px;
    line-height: 40px;
    padding-right: 50px;
    @include position(absolute, 20px 20px 0 0);
}

glitch-effect.header {
     height: 40px;
}

p, li {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

f-ormula {
    text-align: center;
    padding: 20px;
}