@import '../../scss/globals';
@import '../../scss/mixins/reset-small';
@import '../../scss/mixins/utils';
@import '../../scss/placeholders/textarea';

:host {
    padding: 0 50px;
    font-family: Underwood;
    color: #fff;
    z-index: 3;
}

glitch-effect.header {
     height: 40px;
}

#formulator {
    @extend %textarea;
}

f-ormula {
    display: inline;
}

.stats span {
    margin-right: 20px;
}

.output {
     span {
     }

     f-ormula {
         padding-top: 20px;

     }
}